html,body,div,h1,h2,h3,p,img,ol,ul,li,article,section {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,section {
display:block;
}

html, body {
	background: #92d4f7;
	font-family: arial, helvetica, sans-serif; 
	font-size: 16px; 
	color: #222;
}

.clear {clear: both;}

li {
	margin: 0 0 5px 0;
}

p {
	font-size: 1em;
	line-height: 1.4em;
	margin-bottom: 20px;
	color: #444;
}

#container {
	width: 90%;
	max-width: 800px;
	background: #f3f3f3;
	margin: 30px auto;
}

.main-details {
	padding: 25px 35px;
	border-bottom: 2px solid #cf8a05;
	background: #ededed;
}

#name h1 {
	font-size: 2.5em;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: -6px;
}

#name h2 {
	font-size: 2em;
	margin-left: 2px;
	font-family: Arial, Helvetica, sans-serif;
}

#main-area {
	padding: 0 40px;
}

#avatar {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#avatar img {
	width: 100%;
	height: auto;
	border-radius: 50px;
}

#name {
	float: left;
}

#contact-details {
	float: right;
}

#contact-details ul {
	list-style-type: none;
	font-size: 0.9em;
	margin-top: 2px;
}

#contact-details ul li {
	margin-bottom: 3px;
	color: #444;
}

#contact-details ul li a, a[href^=tel] {
	color: #444; 
	text-decoration: none;
}

#contact-details ul li a:hover { 
	color: #cf8a05;
}

article {
	margin-bottom: 10px;
}

section {
	border-top: 1px solid #dedede;
	padding: 20px 0 0;
}

section:first-child {
	border-top: 0;
}

section:last-child {
	padding: 20px 0 10px;
}

.section-title {
	float: left;
	width: 25%;
}

.section-content {
	float: right;
	width: 72.5%;
}

.section-title h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 1.5em;
	color: #cf8a05;
}

.section-content h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	margin-bottom: -2px;
}

.details {
	font-size: 1em;
	font-style: italic;
	margin-bottom: 3px;
}

.skills {
	column-count:2;
	margin-bottom: 20px;
	font-size: 1em;
	color: #444;
}

.skills ul li {
	margin-bottom: 3px;
}
